<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1494642262/de/foto/menschen-im-kinosaal-mit-leerer-wei%C3%9Fer-leinwand.jpg?s=2048x2048&w=is&k=20&c=5F9mdmoO3RsPxIanAMILpL-wMj22atpQlcBFNBWmAM4=)">
  <%= @list.name %>
</div>
<div class="container d-flex">
  <div id="movies_list" class="container flex-item">
    <% @list.bookmarks.each do |bookmark| %>
      <% @movie = Movie.find(bookmark.movie_id) %>
      <div class="card-product m-3">
        <img src= "<%= @movie.poster_url %>" />
        <div class="card-product-infos">
          <h2><%= @movie.title %></h2>
          <p><%= @movie.overview %><p>
          <p>- <em><%= bookmark.comment %></em><p>
        </div>
          <%= link_to "Delete",
          list_bookmark_path(@list, bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
          class: "btn btn-flat btn-sm" %>
      </div>
    <% end %>
  </div>

  <div id="bookmark_form" class="m-2 flex-item">
    <h2> Create a New Bookmark </h2>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie %>
        <%= f.button :submit %>
      <% end %>
  </div>
</div>
